<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ecom App</title>
</head>
<body>

    <h5>Shopping Cart</h5>
 
<p>
There are no items in your shopping cart :(
</p>
<br/><br/>
<hr/>
    {{{body}}}
 
</body>
</html>
